#calibration-meta {
  align-items: center;
  column-gap: 0.5em;
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 0.25em;

  & h2 {
    grid-column: 1 / -1;
  }

  & span {
    &.disabled {
      color: oklch(var(--fg) / 0.5);
    }
  }

  & #calibration__models {
    align-items: end;
    display: flex;
    flex-direction: column;
  }
}

#calibration-meta span:nth-of-type(odd) {
  justify-self: start;
}

#calibration-meta span:nth-of-type(even) {
  justify-self: end;
}

#calibration-main {
  display: grid;
  gap: 1em;
  grid-template-rows: max-content 1fr;
  height: 100%;
  width: 100%;

  & form {
    background: oklch(var(--fg) / 0.1);
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin: 1em 2em;
    padding: 0.5em 1em;

    & div:nth-child(1) {
      column-gap: 2em;
      display: grid;
      grid-template-columns: 1fr max-content;
      grid-template-rows: repeat(4, max-content);
      row-gap: 0.5em;

      & #calibration-selection__models {
        column-gap: 1em;
        display: grid;
        grid-column: 2;
        grid-template-columns: 1fr max-content;
        justify-items: end;
        row-gap: 0.5em;
      }
    }

    & div:nth-child(2) {
      align-self: start;
      column-gap: 2em;
      display: flex;
      display: grid;
      flex-direction: column;
      grid-template-columns: 1fr max-content;
      row-gap: 1em;

      & #calibration-selection__algorithm-params {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: repeat(4, max-content);
        column-gap: 1em;
        row-gap: 0.5em;
        justify-self: end;

        & label {
          padding-left: 1em;
          font-size: 0.9rem;
        }
        & input {
          font-size: 0.9rem;
        }
      }
    }

    & label {
      align-items: center;
      display: flex;
      justify-self: end;
    }

    & select {
      background: none;
      border: none;
      border-bottom: 1px solid oklch(var(--theme) / 0.75);
      border-radius: 0;
      box-shadow: none;

      &:focus {
        border: none;
        border-bottom: 1px solid oklch(var(--theme));
        outline: none;
      }

      & option {
        background: oklch(var(--bg));
        color: oklch(var(--fg));
      }
    }

    & input {
      border: none;
      border-bottom: 1px solid oklch(var(--theme) / 0.75);
      border-radius: 0;
      padding: 0 0.25em;
      width: 2em;

      &:focus {
        border-bottom: 1px solid oklch(var(--theme-most));
        outline: none;
      }
    }
  }
}
