#calibration-meta {
  align-items: center;
  column-gap: 0.5em;
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 0.25em;

  & h2 {
    grid-column: 1 / -1;
  }

  & span {
    &.disabled {
      color: oklch(var(--fg) / 0.5);
    }
  }

  & #calibration__models {
    align-items: end;
    display: flex;
    flex-direction: column;
  }
}

#calibration-meta span:nth-of-type(odd) {
  justify-self: start;
}

#calibration-meta span:nth-of-type(even) {
  justify-self: end;
}

#calibration-main {
  display: grid;
  gap: 1em;
  grid-template-rows: max-content 1fr;
  height: 100%;
  width: 100%;

  & form {
    background: oklch(var(--fg) / 0.1);
    border-radius: 0.5em;
    column-gap: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 2em;
    padding: 0.5em 1em;
    row-gap: 0.5em;

    & div:nth-child(1) {
      column-gap: 2em;
      display: grid;
      grid-template-columns: 1fr max-content;
      grid-template-rows: repeat(4, max-content);
      row-gap: 0.5em;
      width: 45%;

      & #calibration-selection__models {
        column-gap: 1em;
        display: grid;
        grid-column: 2;
        grid-template-columns: 1fr max-content;
        justify-items: end;
        row-gap: 0.5em;
      }
    }

    & div:nth-child(2) {
      align-self: start;
      column-gap: 2em;
      display: flex;
      display: grid;
      flex-direction: column;
      grid-template-columns: 1fr max-content;
      row-gap: 1em;
      width: 45%;

      & #calibration-selection__algorithm-params {
        column-gap: 1em;
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: repeat(2, max-content);
        justify-self: end;
        row-gap: 0.5em;

        & label {
          font-size: 0.9rem;
          padding-left: 1em;
        }
        & input {
          font-size: 0.9rem;
        }
      }
    }

    & label {
      align-items: center;
      display: flex;
      justify-self: end;
    }

    & select {
      background: none;
      border: none;
      border-bottom: 1px solid oklch(var(--theme) / 0.75);
      border-radius: 0;
      box-shadow: none;

      &:focus {
        border: none;
        border-bottom: 1px solid oklch(var(--theme));
        outline: none;
      }

      & option {
        background: oklch(var(--bg));
        color: oklch(var(--fg));
      }
    }

    & input {
      border: none;
      border-bottom: 1px solid oklch(var(--theme) / 0.75);
      border-radius: 0;
      padding: 0 0.25em;
      width: 2em;

      &:focus {
        border-bottom: 1px solid oklch(var(--theme-most));
        outline: none;
      }
    }

    & button {
      font-size: 1rem;

      &#calibration_start-button {
        background: oklch(var(--correct));
        box-shadow: 0 0.5em 1em 0.25em oklch(var(--correct) / 0.25);
      }

      &#calibration_stop-button {
        background: oklch(var(--error));
        box-shadow: 0 0.5em 1em 0.25em oklch(var(--error) / 0.25);
      }
      &[hidden] {
        display: none;
      }
    }
  }

  & #calibration-main__plots {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
    min-height: 0;

    & .plot {
      display: block;
      grid-column: 2;
      grid-row: auto / span 2;
      height: 100%;
      min-height: 0;
      width: 100%;

      & path {
        fill: none;
        stroke-width: 0.5px;
      }

      & text {
        fill: oklch(var(--fg));
      }
    }

    & #calibration-main__legend {
      display: flex;
      flex-wrap: wrap;
      grid-column: 1;
      grid-row: 1;
      justify-content: space-evenly;
      padding: 0 1em;

      & div {
        align-items: center;
        display: flex;
        gap: 0.5em;

        & span:nth-child(2) {
          height: 2px;
          width: 3em;
        }
      }
    }

    & #calibration-main__discharge {
      grid-column: 1;
      grid-row: 2 / -1;
    }

    .blue {
      background: oklch(0.56 0.2 260);
      fill: oklch(0.56 0.2 260);
      stroke: oklch(0.56 0.2 260);
    }

    .red {
      background: oklch(0.56 0.2 20);
      fill: oklch(0.56 0.2 20);
      stroke: oklch(0.56 0.2 20);
    }

    .purple {
      background: oklch(0.56 0.2 300);
      fill: oklch(0.56 0.2 300);
      stroke: oklch(0.56 0.2 300);
    }
    .pink {
      background: oklch(0.56 0.2 0);
      fill: oklch(0.56 0.2 0);
      stroke: oklch(0.56 0.2 0);
    }

    .orange {
      background: oklch(0.56 0.2 40);
      fill: oklch(0.56 0.2 40);
      stroke: oklch(0.56 0.2 40);
    }

    .yellow {
      background: oklch(0.56 0.2 80);
      fill: oklch(0.56 0.2 80);
      stroke: oklch(0.56 0.2 80);
    }

    .green {
      background: oklch(0.56 0.2 140);
      fill: oklch(0.56 0.2 140);
      stroke: oklch(0.56 0.2 140);
    }

    .turquoise {
      background: oklch(0.56 0.2 180);
      fill: oklch(0.56 0.2 180);
      stroke: oklch(0.56 0.2 180);
    }
  }
}
