#data-meta {
  column-gap: 0.5em;
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 0.25em;

  & h2 {
    grid-column: 1 / -1;
  }

  & span {
    &.disabled {
      color: oklch(var(--fg) / 0.5);
    }
  }
}

#data-meta span:nth-of-type(odd) {
  justify-self: start;
}
#data-meta span:nth-of-type(even) {
  justify-self: end;
}

#data-main {
  display: grid;
  gap: 1em;
  grid-template-rows: max-content max-content 1fr;
  height: 100%;
  width: 100%;

  & form {
    background: oklch(var(--fg) / 0.1);
    border-radius: 0.5em;
    display: flex;
    gap: 3em;
    justify-content: space-between;
    left: calc(50% - 20em);
    padding: 0.5em 1em;
    position: relative;
    top: 0.5em;
    width: 40em;

    & label {
      align-items: center;
      display: flex;
      gap: 0.5em;
      justify-content: space-around;
      width: min-content;

      & select {
        background: none;
        border: none;
        border-bottom: 1px solid oklch(var(--theme) / 0.75);
        border-radius: 0;
        box-shadow: none;

        &:focus {
          border: none;
          border-bottom: 1px solid oklch(var(--theme));
          outline: none;
        }

        & option {
          background: oklch(var(--bg));
          color: oklch(var(--fg));
        }
      }

      & input {
        padding: 0 0.25em;
        width: 2em;
      }
    }
  }

  & #data-main__stats {
    column-gap: 1em;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    left: calc(50% - 20em);
    position: relative;
    width: 40em;

    & span {
      text-align: end;

      &.label {
        text-align: start;
      }
    }

    & #data-main__stats__calib,
    & #data-main__stats__valid {
      grid-column: 4;
    }
  }

  & #data-main__plots {
    display: grid;
    grid-template-rows: 30% 30% 40%;
    height: 100%;
    min-height: 0;

    & .plot {
      display: block;
      height: 100%;
      min-height: 0;
      width: 100%;

      & path {
        fill: none;
        stroke: oklch(var(--fg));
        stroke-width: 0.5px;

        &.path-red {
          stroke: red;
          stroke-width: 1px;
        }

        &.path-area {
          fill: oklch(var(--fg) / 0.1);
          stroke: none;
        }
      }
      & text {
        fill: oklch(var(--fg));
      }

      & .legend-item {
        fill: oklch(var(--fg));
        font-size: 0.8rem;

        & line {
          fill: none;
          stroke: oklch(var(--fg));

          &.path-red {
            stroke: red;
            stroke-width: 1px;
          }
        }
        & rect {
          fill: none;
          fill: oklch(var(--fg) / 0.1);
          stroke: none;
        }
      }
    }
  }
}
