.slider {
  align-items: center;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 3em;
  width: 100%;

  & input[type="range"] {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  & input[type="number"] {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.checkbox {
  height: 1em;
  position: relative;
  width: 1em;

  & input {
    cursor: pointer;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &:checked ~ span {
      background: oklch(var(--theme));
    }

    &:hover ~ span,
    &:focus ~ span {
      border: 0.1em solid oklch(var(--theme-most));
    }
  }

  & span {
    background: none;
    border: 0.1em solid oklch(var(--theme));
    border-radius: 1em;
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.loading {
  animation: spin 5s linear infinite;
  height: 3em;
  left: calc(50% - 1.5em);
  position: absolute;
  stroke: #009999;
  top: calc(50% - 1.5em);
  width: 3em;

  &[hidden] {
    display: none;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
