@import "./template.css";
@import "./elements.css";
@import "./settings.css";
@import "./notifications.css";
@import "./station.css";

body {
  display: grid;
  grid-template-rows: 8em 1fr;
}

#meta {
  display: flex;
  flex-direction: row;
  gap: 2.5em;
  justify-content: center;
  padding: 2.5em 2.5em 1em 2.5em;

  & > div {
    background: oklch(var(--fg) / 0.1);
    border: 1px solid oklch(var(--bg));
    border-radius: 0.5em;
    cursor: pointer;
    height: max-content;
    padding: 0.5em 1em;
    text-align: center;
    transition: border 300ms;
    width: 10em;

    &.open {
      border: 1px solid oklch(var(--fg) / 0.5);
    }

    & h2 {
      margin: 0;
      text-align: center;
    }
  }
}

#main {
  height: 100%;
  width: 100%;

  & section {
    background: oklch(var(--fg) / 0.1);
    height: 100%;
    position: relative;
    transform: scale(0);
    transform-origin: center center;
    transition: transform 300ms;
    width: 100%;

    &.open {
      transform: scale(1);
    }

    & h2 {
      margin: 0;
    }

    & .close {
      background: none;
      border-radius: 0.25em;
      box-shadow: none;
      height: auto;
      padding: 0.25em;
      position: absolute;
      right: 0.25em;
      top: 0.25em;
      z-index: 1;

      &:hover {
        background: oklch(var(--fg) / 0.1);
      }
    }
  }
}
