@import "./template.css";
@import "./elements.css";
@import "./settings.css";
@import "./notifications.css";
@import "./station.css";
@import "./data.css";

body {
  display: grid;
  grid-template-rows: max-content 1fr;
}

#meta {
  display: flex;
  flex-direction: row;
  gap: 2.5em;
  justify-content: center;
  padding: 2.5em 2.5em 1em 2.5em;

  & > div {
    background: oklch(var(--fg) / 0.1);
    border: 1px solid oklch(var(--bg));
    border-radius: 0.5em;
    cursor: pointer;
    height: max-content;
    padding: 0.5em 1em;
    text-align: center;
    transition: border 300ms;
    width: max-content;

    &.open {
      border: 1px solid oklch(var(--fg) / 0.5);
    }

    & h2 {
      margin: 0;
      text-align: center;
    }
  }
}

#main {
  height: calc(100% - 2em);
  padding: 1em;
  position: relative;
  width: calc(100% - 2em);

  & section {
    border: 1px solid oklch(var(--fg) / 0.5);
    border-radius: 0.5em;
    height: calc(100% - 2em);
    left: 1em;
    position: absolute;
    top: 1em;
    transform: scale(0);
    transform-origin: center center;
    transition: transform 300ms;
    width: calc(100% - 2em);

    &.open {
      transform: scale(1);
    }

    & h2 {
      margin: 0;
    }

    & .close {
      background: none;
      border-radius: 0.25em;
      box-shadow: none;
      height: auto;
      padding: 0.25em;
      position: absolute;
      right: 0.25em;
      top: 0.25em;
      z-index: 3;

      &:hover {
        background: oklch(var(--fg) / 0.1);
      }
    }
  }
}
