#main-station {
  position: relative;

  & form {
    align-items: center;
    background: oklch(var(--bg-dark) / 0.75);
    border-radius: 0.5em;
    column-gap: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content max-content;
    left: calc(50% - 25em);
    padding: 1em 5em;
    position: absolute;
    top: 1em;
    width: 40em;
    z-index: 1;

    & h2 {
      grid-column: 1 / -1;
      padding-bottom: 0.5em;
      text-align: center;
    }

    & > input {
      grid-column: 1;
      grid-row: 2 / -1;
    }

    & > label {
      grid-column: 2;
      grid-row: 2;
    }

    & > .slider {
      grid-column: 2;
      grid-row: 3;
    }
  }

  & #main-station__map {
    height: 100%;
    width: 100%;
    z-index: 0;

    & .leaflet-control-container,
    & .leaflet-control-attribution {
      display: none;
    }

    & .map__marker {
      background-color: blue;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      z-index: 1;

      &.map__marker--current {
        background-color: green;
        z-index: 2;
      }
    }
  }
}
