#station-meta {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

#station-main {
  & form {
    align-items: center;
    background: oklch(var(--bg-dark) / 0.75);
    border-radius: 0.5em;
    column-gap: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content max-content;
    left: calc(50% - 25em);
    padding: 1em 5em;
    position: absolute;
    top: 1em;
    width: 40em;
    z-index: 1;

    & h2 {
      grid-column: 1 / -1;
      padding-bottom: 0.5em;
      text-align: center;
    }

    & .autocomplete {
      grid-column: 1;
      grid-row: 2 / -1;
      position: relative;

      & .autocomplete__list {
        align-items: center;
        background: oklch(var(--bg-dark) / 0.75);
        display: flex;
        flex-direction: column;
        height: 10em;
        overflow-y: scroll;
        position: absolute;
        top: 100%;
        width: 100%;

        &[hidden] {
          display: none;
        }

        & span {
          cursor: pointer;
          display: block;
          overflow: clip;
          padding: 0.5em 0.5em;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: calc(100% - 1em);

          &:hover {
            background: oklch(var(--fg) / 0.1);
          }
        }
      }
    }

    & > label {
      grid-column: 2;
      grid-row: 2;
    }

    & > .slider {
      grid-column: 2;
      grid-row: 3;
    }
  }

  & #station-main__map {
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    z-index: 0;

    & .leaflet-control-container,
    & .leaflet-control-attribution {
      display: none;
    }

    & .map__marker {
      background-color: blue;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      z-index: 1;

      &.map__marker--current {
        background-color: green;
        z-index: 2;
      }
    }
  }
}
